Dockerfile
**/publish.py
my
.git
.refresh
__pycache__
.ipynb_checkpoints/
.vscode/
__res/
perf.data
perf.data.old
*.swp
*.ipynb
*.pdf
*.zip
*.tgz
test.py
extern/mkl/mkldnn_lnx*/*
data/
build/
venv/
*.md
!*.src.md
!README.md
!README.cn.md
python/jittor.egg-info
dist/
!doc/source/*
__data__