my
.refresh
.DS_Store
__pycache__
.ipynb_checkpoints/
.vscode/
__res/
perf.data
perf.data.old
*.swp
*.ipynb
*.pdf
*.zip
*.tgz
*.obj
test.py
extern/mkl/mkldnn_lnx*/*
data/
build/
venv/
*.md
!*.src.md
!README.md
!README.cn.md
!CHANGELOG.md
python/jittor.egg-info
dist/
!doc/source/*
core
__data__
